@layer reset, tokens, base, components, utilities;

@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
  }
}

@layer base {
  body {
    background-color: var(--sl-color-themes-night-background, #000);
    color: var(--sl-color-themes-night-textPrimary, #fff);
    font-family: var(--sl-typography-family-interface, sans-serif);
  }
}
